.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* common style  */
* {
  margin: 0px;
  padding: 0px;
}

.green-color {
  color: #47bd78;
}

/* header style */

#header {
  max-width: 1600px;
  height: 92px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  align-items: center;
}
nav .blog-section .blogs {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  gap: 32px;
  text-align: center;
}
nav .blog-section .blogs a {
  text-decoration: none;
  color: #000000;
}
.button-section button {
  padding: 12px 16px;
  background-color: #469165;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  
}

/*hero section style  */
#hero-section {
  max-width: 1600px;
  text-align: center;
  padding: 115px 120px 179px 120px;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  margin: 0px auto;
  
}

.hero-container {
  max-width: 1360px;
  text-align: center;
}
.title-top {
  background-color: azure;
  border-radius: 1000px;
  color:#419c67;
  max-width: 230px;
  height: 28px;
  margin: 0px auto;
  padding-top: 8px;

}
.title-top h4 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.hero-container h1{
  max-width: 770px;
  font-size: 74px;
  font-weight: 700;
  color: white;
  margin: 16px auto;
}
.hero-container p {
  max-width: auto;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.941);
  line-height: 30px;

}
.section-btn {
  margin-top: 32px;
  display: inline-flex;
  gap: 16px;
}
button {
  padding: 16px;
  background-color: #469165;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  text-align: center;
  
}
.sp-btn {
  background-color: transparent;
  border: 1px solid rgba(252, 252, 252, 0.82);
}
.btn-img {
  max-width: 20px;
  height: 20px;
  margin: 0px 12px;
  vertical-align: middle;
}

 /* Notes Section */
 #box-container {
  max-width: 1600px;
  margin: 0px, auto;
  text-align: center;
}
.box-title {
  height: 117px;
  display: grid;
  place-items: end center;
  font-size: 26px;
  font-weight: 700;
  color: #001931;
}
.box-heading {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400px;
  color: #627382;
}
.box-cards {
  max-width: 1360px;
  margin: 44px 120px 9px 120px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.card {
  max-width: 322px;
  height: 300px;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0px 0px 8px 0px #dde1e4bd;
}
.card .img-back {
  margin: 65.5px 107px 16px 107px;
}
 /* logo background style  */
.img-back {
  width: 60px;
  height: 60px;
  background-color: #F95555;
  border-radius: 50%;
  align-items: center;
  
}
.img-back img {
  margin-top: 12px;
}


.card h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #001931
}
.card p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #001931
}

/* Second Brain Section  */

.the-solution {
  max-width: 1600px;
  margin: 120px 120px 32px 120px;
}
.container {
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.info-box {
  max-width: 700px;
  height: 397px;
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}
.Info-details, .info-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Info-details h5 {
  font-size: 16px;
  font-weight: 500;
}

.Info-details h1 {
  font-size: 54px;
  font-weight: 700;
}
.Info-details p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}
.info-list img, div {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
}

/* Early Access Section */

.last-part {
  max-width: 1600px;
  height: 550px;
  margin: 130px;
  border-radius: 12px;
  background-color: rgba(247, 246, 242, 1);
}
.h1p-btn {
  max-width: 1360px;
  width: 388;
  padding: 150px 80px 120px 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px; 
}
.h1p-btn .h1p {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.h1p h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 48px;
}
 .h1p p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}
.h1p-btn .btn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button-span span {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}

/* footer section  */
#foter-section {
  max-width: 1600px;
  padding: 120px 120px 30px 120px;
  background: var(--Style, rgba(0, 25, 49, 1));
  margin: 0px, auto;
}

#foter-section .icone {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 63px;

}

.icone-div {
  display: inline-block;
  justify-content: right;
  gap: 5px;

}
.icone-img {
  display: flex;
  justify-content: space-around;
  gap: 7px;
}

.copylight {
  border-top: 1px solid rgb(57, 84, 101);
  color: #bac9d7;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-top: 25px;
}

/* Hover effects on all buttons  */
button:hover {
  background-color: transparent;
  color: #47bd78;
} 
.sp-btn:hover {
  background-color: #419c67;
  color: white;
}
.hv-btn:hover {
  background-color: transparent;
  border-radius: 4px;
  color: white;
}