.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* common style  */
* {
  margin: 0px;
  padding: 0px;
}

.green-color {
  color: #47bd78;
}

/* header style */

#header {
  max-width: 1600px;
  height: 92px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  align-items: center;
}
nav .blog-section .blogs {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  gap: 32px;
  text-align: center;
}
nav .blog-section .blogs a {
  text-decoration: none;
  color: #000000;
}
.button-section button {
  padding: 12px 16px;
  background-color: #469165;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

/*hero section style  */
.hero-section {
  max-width: 1600px;
  height: 674px;
  text-align: center;
  padding: 115px 120px 179px 120px;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  margin: 0px auto;
  
}

.hero-container {
  max-width: 1360px;
  text-align: center;
}
.title-top {
  background-color: azure;
  border-radius: 1000px;
  color:#419c67;
  max-width: 230px;
  height: 28px;
  margin: 0px auto;
  padding-top: 8px;

}
.title-top h4 {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.hero-container h1{
  max-width: 770px;
  font-size: 74px;
  font-weight: 700;
  color: white;
  margin: 16px auto;
}
.hero-container p {
  max-width: auto;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.941);
  line-height: 30px;

}
.section-btn {
  margin-top: 32px;
  display: inline-flex;
  gap: 16px;
}
button {
  padding: 16px;
  background-color: #469165;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  text-align: center;
  
}
.sp-btn {
  background-color: transparent;
  border: 1px solid rgba(252, 252, 252, 0.82);
}
.btn-img{
  max-width: 20px;
  height: 20px;
  margin: 0px 12px;
  vertical-align: middle;
}

 /* this is card section */
 